.DS_store

./.ipynb_checkpoints/
.vscode/
./*.pdf
build

######################
# USSD_PythonforDS

DSE200x_Python_for_DataScience/Week4-Pandas/movielens
*.sqlite
*.csv
*.pkl
*.zip

######################
